@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Kod Arkadaşım</h1>
    <p class="lead">Bu platform üzerinde yazılım fikirlerinizi paylaşabilir ve projeyi gerçekleştirmek için
    takım arkadaşları bulabilirsiniz.
    </p>
    <p><a href="/Security/Login" class="btn btn-primary btn-lg">Giriş Yap &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Fikir Paylaşımları</h2>
        <p>
            Bu sayfa üzerinde gerçekleştirmek istediğiniz yazılım fikirlerinizi diğer yazılımcılarla paylaşabilirsiniz.
        </p>
        <p><a class="btn btn-default" href="/">İlerle &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Projeler</h2>
        <p>Bu platformda edindiğiniz takım arkadaşlarınız ile bitirdiğiniz projeyi paylaşarak rank kazanabilirsiniz.</p>
        <p><a class="btn btn-default" href="">İlerle &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Programlama Egzersizleri</h2>
        <p>Çeşitli programlama egzersizlerini yaparak kendinizi geliştirebilirsiniz.</p>
        <p><a class="btn btn-default" href="">İlerle &raquo;</a></p>
    </div>
    
</div>