@model List<kodArkadasim.Models.EntityFramework.Projeler>
@{
    ViewBag.Title = "KullaniciProjeleri";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body>

    <table class="table table-bordered" id="tableProjeler">
        <thead style="background-color:coral;">
            <tr>
                <th style="text-align:center;">Tamamlanmış Projeler</th>

                <th>Tarih</th>
            </tr>






        </thead>
        <tbody style="background-color: burlywood;">
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Baslik  @Html.ActionLink("İncele", "ProjeyiIncele", "Projeler", new { id = item.Id }, null)<br />


                    </td>

                    <td>@item.Tarih</td>
                </tr>



            }
        </tbody>

    </table>


</body>

